* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

section .banner {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fffeee5f;
}

section .banner .container {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: #eade125f;
}

.banner .container .caixa-formulario {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #aeae;
}
.banner .container .caixa-formulario .logo{
    width: 100%;
    height: 5%;
}

.banner .container .caixa-formulario .caixa-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 700px; */
    flex-direction: row;
    background-color: #553;
}

.banner .container .caixa-formulario .caixa-form .campo {
    width: 30%;
    height: 30px;

}

.banner .container .caixa-formulario .caixa-form .campo input {
    width: 40%;
    background-color: transparent;
    color: rgba(245, 245, 245);
    border-bottom: 2px solid #e6bc16;
}

.banner .container .caixa-formulario .caixa-form .campo input::placeholder {
    color: rgba(245, 245, 245, 0.493);
}


.banner .container .caixa-formulario .caixa-form .caixa {
    display: flex;
    flex-direction: column;
}

.banner .container .caixa-formulario .caixa-form .caixa2 {
    display: flex;
    flex-direction: column;

}

.banner .container .caixa-formulario button {
    color: #e6bc16;
    background-color: transparent;
    padding: 9px 16px;
    border: none;
    border-radius: 5px;
    border: 2px solid #e6bc16;
    width: 110px;
    cursor: pointer;
    transition: all 0.9s;
}

.banner .container .caixa-formulario button:hover {
    border-radius: 20px;
    transform: scale(1.1);
    color: #123142;
    background-color: #e6bc16;
}

.banner .container .caixa-formulario h5 {
    /* padding-top: 17px; */
    color: whitesmoke;
    font-weight: normal;
}

.banner .container .caixa-formulario h5 a {
    color: #e6bc16;
}







/* .banner .container .minicontainer .barra {
    width: 600px;
}
.banner .container .minicontainer .barra .azinho2 button{
    display: flex;
    // align-items: center; 
    justify-content: center;
    margin: 15px 0 0 3px;
    padding: 9px 16px;
    background-color: #123142c2 ;
    color: #e6bc16;
    border: none;
    border: 2px solid #e6bc16;
    border-radius: 5px;
    top: 500px;
    width: 210px;
    cursor: pointer;
    transition: all 0.9s;
}

.banner .container .minicontainer .azinho2 button:hover {
    border-radius: 20px;
    scale: 1.1;
    color: #123142;
    background-color: #e6bc16;
}
 */