:root {
    --clr1: #e6bc16;
    --clr2: #123142;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

section .banner {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: #fffeee5f; */
}

section .banner .container {
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--clr1);
    border-radius: 9px;
    background-color: #123142cf;
    padding-top: 20px;
}

.banner .container .caixa-formulario {
    width: 95%;
    height: 80%;
    /* background-color: #aeae; */
}

.banner .container .caixa-formulario .logo {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.banner .container .caixa-formulario h1 {
    font-family: 'Ubuntu';
    color: var(--clr1);
    font-weight: normal;
    font-size: 2em;
    margin: 5px 0;
    text-align: center;
}

.banner .container .caixa-formulario .caixa-form {
    width: 95%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner .container .caixa-formulario .caixa-form .caixa{
    width: 45%;
    height: 90%;
    /* background-color: #553; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .container .caixa-formulario .caixa-form .caixa  .campo {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: #ffffff5f; */

}

.banner .container .caixa-formulario .caixa-form .caixa  .campo label{
    color: var(--clr1);
    font-family: 'Ubuntu';
}

.banner .container .caixa-formulario .caixa-form .caixa  .campo input {
    width: 100%;
    height: 40%;
    border: none;
    outline: none;
    padding-left: 5px;
    background-color: transparent;
    color: rgba(245, 245, 245);
    border-bottom: 2px solid #e6bc16;
    /* border-radius: 5px; */
    color: whitesmoke;
    font-family: 'Ubuntu';
}

.banner .container .caixa-formulario .caixa-form .campo input::placeholder {
    color: rgba(245, 245, 245, 0.493);
}

.banner .container .caixa-formulario .caixa-form .caixa  .campo input:focus {
    scale: 1.06;
    border-radius: 7px;
    border: 2px solid #e6bc16;
    color: #e6bc16dF;
}


.banner .container .caixa-formulario .caixa-form .caixa {
    display: flex;
    flex-direction: column;
}

.banner .container .caixa-formulario .botao{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .container .caixa-formulario button {
    color: #e6bc16;
    background-color: transparent;
    padding: 9px 16px;
    border: none;
    border-radius: 5px;
    border: 2px solid #e6bc16;
    width: 110px;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}

.banner .container .caixa-formulario button:hover {
    border-radius: 10px;
    transform: scale(1.1);
    color: #123142;
    background-color: #e6bc16;
}

.banner .container .caixa-formulario .botao p{
    color: #f5f5f5df;
    font-family: 'Ubuntu';
    font-size: 0.8em;
    margin-top: 8px;
}

.banner .container .caixa-formulario .botao a{
    color: var(--clr1);
}

.banner .container .caixa-formulario .botao a:hover{
    color: whitesmoke;
}


.banner .container .caixa-formulario .pergunta{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff1234f; */
}

.banner .container .caixa-formulario .pergunta label{
    color: var(--clr1);
    font-family: 'Ubuntu';
    font-size: 1em;
}

.banner .container .caixa-formulario .pergunta input{
    margin: 0 10px;
    background-color: var(--clr1);
}

.banner .container .caixa-formulario .pergunta p{
    font-size: 0.86em;
    color: #f5f5f55f;
    font-family: 'Ubuntu';
}
   
.banner .container .caixa-formulario .container2{
    width: 50%;
    height: 500px;
    background-color: var(--clr2);
    position: absolute;
    bottom: -501px;
    right: 8%;
    border-radius: 8px;
    border: 2px solid var(--clr1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .container .caixa-formulario .container2 h2{
    color: var(--clr1);
    font-family: 'Ubuntu';
    font-weight: normal;
}

.banner .container .caixa-formulario .container2 .botoes {
    width: 35%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner .container .caixa-formulario .container2 .botoes button:nth-child(1){
    background-color: var(--clr1);
    color: var(--clr2);
}




