@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* 'Ubuntu' */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* 'Quicksand' */

* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    background-color: #123142;
}

nav {
    width: 15%;
    height: 100vh;
    background-color: #123142;
    float: left;
    position: relative;
    left: -14%;

    transition: all 1s;
    /* border-right: 1px solid #e6bc16; */
}

.teste {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.8s;
    position: absolute;
    right: 96.4%;
    top: 20px;
    z-index: 1;
    background-image: url("./../img/icons8-cardápio-240.png ");
    background-size: cover;
    background-position: center;

    /* border: 1px solid darkred; */
}

nav .logo {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px blue solid; */
}

nav .logo img {
    opacity: 0.7;
    transition: all 0.7s;
}

nav .logo img:hover {
    opacity: 1;
    transform: scale(1.1);
}

nav .bar {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

nav .bar .espaco {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border: 1px pink solid; */
}

nav .bar .espaco .foto {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background-color: #e6bc16af;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .bar .espaco .foto span {
    font-size: 6.5em;
    font-weight: 100;
}

nav .bar .espaco h2 {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Ubuntu';
    color: #f5f5f5;
    text-align: center;
}

nav .bar .espaco p {
    font-size: 15px;
    font-family: 'Ubuntu';
    color: #f5f5f5af;
    font-weight: 200;
}

nav .bar .espaco span {
    font-weight: 700;
}

nav .bar .botoes {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

nav .bar .botoes a {
    width: 73%;
    height: 3vmax;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    color: #e6bc16;
    font-family: 'Ubuntu';
    text-decoration: none;
    border-radius: 20px;
    /* padding-left: 30px; */
}

nav .bar .botoes a:hover {
    cursor: pointer;
}

nav .bar .botoes .aqui {
    background-color: #ffffff21;
}

nav .saida {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    /* border: 1px solid red; */
}

nav .saida a {
    color: #f5f5f5;
    transition: all 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
}

nav .saida a:hover {
    color: #f5f5f55f;
}

nav .saida span {
    color: #f5f5f5;
    font-weight: 100;
    margin-right: 5px;
    font-size: 17px;

    /* border: 1px red solid; */
}



/* #section-one */
section {
    width: 95%;
    height: 100vh;
    background-color: #383838;
    border-radius: 30px 0 0 30px;
    float: right;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: -1;
    transition: all 1s;
}

/* "Parte de cima que mostra a temperatura e umdade atual e métricas */
section .container1 {
    width: 95%;
    height: 20vmax;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
    transition: all 1.5s;
    /* background-color: rgba(0, 0, 255, 0.196); */

    /* border: 1px solid blue; */
}

/* One está escrito 'Dashboard' */
section .container1 .titulo {
    width: 95%;
    height: 5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    /* padding-left: 50px; */
    /* background-color: #e5bc165f; */
}

section .container1 h2 {
    color: #f5f5f5;
    font-family: 'Quicksand';
    font-size: 30px;
    font-weight: normal;
}

/* div que controla as divs que será mostrado os dados */
section .container1 .conteudo {
    width: 95%;
    height: 14vmax;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: #ffffff5f; */
}

/* Toda parte de temperatura */
section .container1 .conteudo .temp {
    width: 15%;
    height: 12vmax;
    border: 1.5px solid #f5f5f5;
    border-radius: 20px;
    transition: all 0.5s;
}

section .container1 .conteudo .temp h3 {
    color: #e6bc16;
    font-family: 'ubuntu';
    font-weight: normal;
    font-size: 15px;
    margin: 20px;
}

section .container1 .conteudo .temp .tempAtual {
    width: 100%;
    height: 5vmax;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #ffffff5f; */
}

section .container1 .conteudo .temp h2 {
    color: #f5f5f5;
    font-family: 'Quicksand';
    font-weight: normal;
    font-size: 60px;
}

/* Toda parte de umidade */
section .container1 .conteudo .umi {
    width: 15%;
    height: 12vmax;
    border: 1.5px solid #f5f5f5;
    border-radius: 20px;
    transition: all 1s;
}

section .container1 .conteudo .umi h3 {
    color: #e6bc16;
    font-family: 'ubuntu';
    font-weight: normal;
    font-size: 15px;
    margin: 20px;
}

section .container1 .conteudo .umi .umiAtual {
    width: 100%;
    height: 5vmax;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #ffffff5f; */
}

section .container1 .conteudo .umi h2 {
    color: #f5f5f5;
    font-family: 'Quicksand';
    font-weight: normal;
    font-size: 60px;
}

/* Toda parte de métricas */
section .container1 .conteudo .limites {
    width: 40%;
    height: 12vmax;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* border: 1.5px solid #f5f5f5; */
    border-radius: 20px;
    transition: all 1s;

    /* background-color: #faafff5f; */
}

section .container1 .conteudo .limites h3 {
    color: #f5f5f5;
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 17px;
    margin-left: 30px;
}

section .container1 .conteudo .limites .temperatura,
.umidade {
    width: 100%;
    height: 4.5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

section .container1 .conteudo .limites .temperatura span,
.umidade span {
    font-size: 25px;
    color: #f5f5f5;
    font-weight: normal;
    padding-left: 10px;
}

section .container1 .conteudo .limites .temperatura .barra {
    width: 50%;
    height: 12px;
    border-radius: 50px;
    background-image: linear-gradient(to left, #ff2424, #0073ff);
    color: #f5f5f5;
    font-family: 'ubuntu';
    font-weight: normal;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container1 .conteudo .limites .umidade .barra {
    width: 50%;
    height: 12px;
    border-radius: 50px;
    background-image: linear-gradient(to left, #0008ff, #00d1f6);
    color: #0040d4;
    font-family: 'ubuntu';
    font-weight: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
}

section .container1 .conteudo .limites .umidade .barra p {
    margin-left: 65px;
    font-size: 25px;
    color: #f5f5f5;
}

section .container1 .conteudo .limites .minmax {
    width: 20%;
    height: 3vmax;
    /* background-color: #ffffff5f; */
    font-family: 'Quicksand';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f5f5f5;
}

section .container1 .conteudo .limites .minmax h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column;   */
}

section .container1 .conteudo .analitics {
    width: 24%;
    height: 14vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
    /* border: 1px solid #36bc16; */
}

section .container1 .conteudo .analitics .grupo {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container1 .conteudo .analitics button {
    width: 50px;
    height: 50px;
    background-color: #1231429f;
    border: 0.1px solid #e6bc16;
    margin: 10px;
    color: #e6bc16;
    border-radius: 8px;
    transition: all 0.8s;
}

section .container1 .conteudo .analitics button:hover {
    transform: scale(1.13);
    background-color: #123142;
    box-shadow: 0 0 13px 0.5px #e6bc16;
    cursor: pointer;
}

section .contPrincipal {
    width: 95%;
    height: 27vmax;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.105); */
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* border: 1px #f5f5f5 solid; */
}

section .contPrincipal h2 {
    font-family: 'Quicksand';
    color: #f5f5f5;
    margin: 30px 0;
    font-weight: normal;
}


section .contPrincipal .cont1,
section .contPrincipal .cont2 {
    width: 42%;
}    
section .contPrincipal .cont1, section .contPrincipal .cont2 {
    width: 45%;

    /* height: 25vmax; */
}


/* Div escondida do botão 2, Analytics */
.segundaSection {
    width: 85%;
    height: 47.5vmax;
    background-color: #123142;
    border-radius: 25px 0 0 25px;
    float: right;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s;
}

.segundaSection h3 {
    color: #e6cb16;
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Quicksand';
}

.segundaSection .botoesConfirma {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.segundaSection .botoesConfirma a {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-family: 'ubuntu';
    font-weight: normal;
    color: #f5f5f5;
    text-decoration: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: all 1s;
}

.segundaSection .botoesConfirma a:hover {
    font-size: 28px;
    color: #f5f5f55f;
    text-decoration: underline;
}

/* Div escondida do botão 3, Mural de Avisos */
.terceiraSection {
    width: 85%;
    height: 47.5vmax;
    background-color: #383838;
    border-radius: 25px 0 0 25px;
    float: right;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s;
}

.terceiraSection .primeiraParte {
    width: 80%;
    height: 35vmax;
    /* border: 1px solid green; */
    transition: all 1s;
    overflow-y: auto;
}

::-webkit-scrollbar {
    background-color: #1231425f;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #e6bc168f;
}

.terceiraSection .sec3Titulo {
    width: 80%;
    height: 6vmax;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 1s;
    /* border: 1px solid #f5f5f5; */
}

.terceiraSection .sec3Titulo h2 {
    font-family: 'Quicksand';
    color: #f5f5f5;
    font-weight: normal;
    font-size: 28px;
}

.terceiraSection .primeiraParte .info {
    width: 98%;
    height: 9.5vmax;
    /* background-color: #ffffff5f; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-top: 1px solid #e6bc165f; */
}

.terceiraSection .primeiraParte .info .lido,
.terceiraSection .primeiraParte .info .apagar {
    width: 15%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.terceiraSection .primeiraParte .info .lido span,
.terceiraSection .primeiraParte .info .apagar span {
    color: #e6bc16;
    font-size: 30px;
    transition: all 1s;
}

.terceiraSection .primeiraParte .info .lido p,
.terceiraSection .primeiraParte .info .apagar p {
    font-size: 11px;
    color: #f5f5f5;
    font-weight: normal;
    font-family: 'Quicksand';
    text-align: center;
    transition: all 1s;
}

.terceiraSection .primeiraParte .info .lido span:hover,
.terceiraSection .primeiraParte .info .apagar span:hover{
    cursor: pointer;
    color: #e6bc165f;
}

.terceiraSection .primeiraParte .info .lido p:hover,
.terceiraSection .primeiraParte .info .apagar p:hover{
    cursor: pointer;
    color: #e6bc165f;
}

.terceiraSection .primeiraParte .info .mensagem {
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.terceiraSection .primeiraParte .info .mensagem p{
    color: #f5f5f5dd;
    font-family: 'ubuntu';
    font-weight: normal;
    font-size: 20px;
    transition: all 0.5s;
    /* text-decoration: line-through; */
}