@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* 'Ubuntu' */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* 'Pavifico' */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    font-family: 'Ubuntu';
}

section {
    width: 100%;
    height: 100vh;
    padding-bottom: 10px;
    background-image: url('./../img/fundo6.jpg  ');
    background-size: cover;
    background-position: center;
}

/* NavBar */
nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-bottom: 1.5px solid #E6BC16;
    background-color: #1231427e;
    transition: all ease-in 0.5s;
}

nav:hover{
    background-color: #123142e1;
    box-shadow: 0 0 20px #E6BC16;
}

nav .logo {
    width: 27%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row;x     */
    /* background-color: #383838; */
}

nav .logo img {
    width: 260px;
    transition: all 1s;
}

nav .logo img:hover{
    transform: scale(1.05);
}

nav .bar {
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .bar2{
    width: 27%;
    display: flex;
    justify-content: center;
}
nav .bar ul, .bar2 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav .bar ul li, .bar2 ul li {
    margin: 0 20px;
    transition: all 0.5s;
}

nav .bar ul li a, .bar2 ul li a {
    text-decoration: none;
    color: #e6bc16;
    font-weight: 600;
    transition: all 0.5s;
}

nav .bar ul li a:hover, .bar2 ul li a:hover {
    color: #f5f5f5;
}

.cadastro {
    background-color: transparent;
    padding: 15px;
    border: 2px solid #e6bc16;
    transition: all 1s;
    border-radius: 10px;
    /* margin-right: 20px; */
}

.cadastro:hover {
    background-color: #e6bc16;
    color: #123142;
    border-radius: 50px;
}

nav .bar .aqui, .bar2 .aqui{
    border-bottom: 2px #e6bc16 solid;
    animation: aqui 1s infinite alternate;
}

@keyframes aqui {
    from{
        transform: translateY(0);
    } to {
        transform: translateY(-5px);
    }
}


.nav {
    width: 100%;
    height: 80px;
    display: none;
    align-items: center;
    background-color: #1231427e;
    border-bottom: 2px solid #e6bc16;
}

.nav .logo {
    width: 27%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    /* flex-direction: row;x     */
    /* background-color: #383838; */
}

.nav .logo img {
    width: 200px;
    transition: all 1s;
}

.nav .continuacao {
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav .continuacao span {
    color: #E6BC16;
    font-size: 2.1em;
}


.nav .conteudoo {
    width: 35%;
    height: 70vh;
    position: absolute;
    top: -105vh;
    right: 0;
    background-color: #123142;
    border-left: 2px solid #e6bc16;
    border-bottom: 2px solid #e6bc16;
    border-radius: 0 0 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav .conteudoo .fechar {
    width: 80%;
    height: 5%;
    display: flex;
    align-items: center;
}

.nav .conteudoo .fechar span {
    color: #e6bc16;
    font-size: 1.8em;
}

.nav .conteudoo .links {
    width: 70%;
    height: 80%;
}

.nav .conteudoo .links .partea {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav .conteudoo .links .partea a {
    text-align: center;
}

.nav .conteudoo .links .parteb {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.nav a {
    text-decoration: none;
    color: #e6bc16;
    font-size: 1.2em;
    margin: 10px 0;
}

@media only screen and (max-width: 1200px) {
    nav {
        display: none;
    }

    .nav {
        display: flex;
    }
}

/* Sections */

.principal .container {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    transition: all 1s;
    margin: 0 auto;

    /* border: 1px solid blue; */
}

.principal .conteudo {
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    /* border: 1px yellow solid; */
}

.principal .container .texto {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    /* border: 1px solid red; */
} 

.principal .texto h2 {
    font-family: 'Ubuntu';
    font-weight: 800;
    font-size: 30px;
    color: white;
    margin: 0;
    transition: all 0.5s;
}

.principal .texto h2:hover {
    transform: scale(1.15);
    text-shadow: 4px 4px 5px #e6bc16;
}

.principal .texto p {
    font-size: 1.5em;
    font-family: 'Ubuntu';
    font-weight: 500;
    text-align: justify;
    color: white;
    margin: 20px 0;
}

.principal button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 1px #e6bc16 solid;
    background-color: #123142;
    outline: 1px white;
    /* margin: 30px 0; */

    /* Transition (quando acontecer o hover ele vai acontecer com o tempo escolhido no transition, dando uma impressão de profissional) */
    transition: all 0.7s;

    /* texto dentro do botão */
    color: #e6bc16;
    font-weight: 700;
}

/* Hover (Quando passar o cursor do mouse) */
.principal button:hover {
    box-shadow: 1px 1px 10px #e6bc16;
}
