@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* 'Ubuntu' */

* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    background-color: #123142;
}

nav {
    width: 15%;
    height: 47.1vmax;
    background-color: #123142;
    float: left;
    /* border-right: 1px solid #e6bc16; */

}

nav .logo {
    width: 100%;
    height: 150px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;

}

nav .bar {
    width: 100%;
    height: 400px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

nav .bar .espaco {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav .bar .espaco .foto {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background-color: #e6bc16;
    background-image: url("./../img/10302279_4247150.jpg");
    background-size: cover;
    background-position: left;
    margin-bottom: 10px;
}

nav .bar .espaco h2 {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Ubuntu';
    color: #f5f5f5;
    text-align: center;
}
nav .bar .espaco p{
    font-size: 15px;
    font-family: 'Ubuntu';
    color: #f5f5f5af;
    font-weight: 200;
}
nav .bar .espaco span{
    font-weight: 700;
}


nav .bar .botoes {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

nav .bar .botoes a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Ubuntu';
}

nav .bar .botoes a button {
    width: 80%;
    height: 3vmax;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0;
    color: #e6bc16;
    font-family: 'Ubuntu';
    border-radius: 20px;
}

nav .bar .botoes  button:hover{
    cursor: pointer;
}

nav .bar .botoes .aqui{
    background-color: rgba(255, 255, 255, 0.13);
}

nav .saida {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

nav .saida a {
    color: #f5f5f5;
    transition: all 2s;
}

nav .saida a:hover {
    color: #e6bc16;
    transform: rotate(-360deg) scale(2);
}

.testeAgora{
    width: 85%;
    height: 48.1vmax;
    background-color: #f5f5f5;
    border-radius: 50px 0 0 50px;
    float: right;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
















/* Section */
section {
    width: 85%;
    height: 48.1vmax;
    background-color: #383838;
    border-radius: 50px 0 0 50px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


}

section .caixa {
    width: 99.8%;
    height: 28vmax;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid blue;
}

section .caixa .container1 {
    width: 50%;
    height: 28vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    border-radius: 50px;
    /* border: 1px solid aquamarine; */

    /* border: 1px solid red; */
}

/* Div da esquerda, principal */
section .caixa .container1 .contPrincipal {
    width: 60%;
    height: 26vmax;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    border: 1px #e6bc16 solid;
}

/* "Mãe" das caixas laterais */
section .caixa .container1 .contPrincipal .caixinha {
    width: 34%;
    height: 26vmax;

    border: 1px red solid;
}

/* Três caixas laterias */
section .caixa .container1 .contPrincipal .cont1 {
    width: 100%;
    height: 8.55vmax;
    border-radius: 10px;

    border: 1px blueviolet solid;
}

section .caixa .container1 .contPrincipal .cont2 {
    width: 100%;
    height: 8.55vmax;
    border-radius: 10px;

    border: 1px dimgray solid;
}

section .caixa .container1 .contPrincipal .cont3 {
    width: 100%;
    height: 8.55vmax;
    border-radius: 10px;

    border: 1px royalblue solid;
}




section .caixa .container1 .contPrincipal .cont4 {
    width: 66%;
    height: 22vmax;
    float: right;

    border: 1px #f5f5f5 dashed;
}









section .caixa .container2 {
    width: 50%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

    /* border: 1px solid red */
}

section .container3 {
    width: 100%;
    height: 20.1vmax;

    /* background-color: #e6bc16; */
}