@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 32px;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    color: #e6bc16;
}

.caixa-formulario {
    display: flex;
    height: 330px;
    width: 400px;
    padding: 50px;
    margin: 40px 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #e6bc16;
    background-color: #123142e1;
}

.campo {
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

.inserir input {
    height: 25px;
    width: 280px;
    margin-bottom: 14px;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-bottom: 2px solid #e6bc16;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    outline: unset;
}

input:hover {
    background-color: transparent;
}

input::placeholder {
    color: rgb(177, 177, 177);
    font-size: 12px;
}

span {
    color: #e6bc16;
    margin-left: 7px;
}

label {
    color: whitesmoke;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.botao {
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-left: 34%;
    border-radius: 100px;
    padding: 8px 16px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: rgb(233, 217, 233);
    background-color: #e6bc16;
    text-shadow: 5px 5px 8px black;
    transition: all 0.7s;
    cursor: pointer;
}

.botao:hover {
    color: white;
    background-color: #e6bc16;
    box-shadow: 1px 1px 4px 4px #e6bc16;
    transform: scale(1.06);
}

.mensagem {
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    margin: 20px 10px;
    padding-bottom: 6px;
}

/* Footer */

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #123142;
    padding-bottom: 5px;
}

.rodape p {
    color: #E6BC16;
    position: absolute;
    margin-top: 35px;
    padding-top: 5px;
    font-weight: 550;
}

.social {
    /* border: 2px solid black; */
    padding: 25px;
    height: 10px;
    margin-bottom: 10px;
}

.rodape .linha {
    width: 150px;
    height: 5px;
    border: none;
    border-bottom: 1.5px #e6bc16 solid;
    border-radius: 2px;
    color: beige;
    margin-bottom: 5px;
}