@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* 'Ubuntu' */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* 'Pavifico' */

* {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Ubuntu';
}

body {
    /* background-color: #f5f5f5; */
}

section {
    width: 100%;
    height: 47.4vmax;
    /* margin: 0; */
    /* background-color: rgb(171, 187, 186); */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    padding-bottom: 10px;
    background-image: url('./../img/fundo6.jpg  ');
    background-size: cover;
    background-position: center;
}

/* NavBar */
nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-bottom: 1.5px solid #E6BC16;
    background-color: #12314215;
    transition: all ease-in 1s;
}

nav:hover{
    background-color: #123142e1;
}

nav .logo {
    width: 27%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row;x     */
    /* background-color: #383838; */
}

nav .logo img {
    width: 260px;
    transition: all 1s;
}

nav .logo img:hover{
    transform: scale(1.10);
}

nav .bar {
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .bar2{
    width: 27%;
    display: flex;
    justify-content: center;
}
nav .bar ul, .bar2 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav .bar ul li, .bar2 ul li {
    margin: 0 20px;
    transition: all 0.5s;
}

nav .bar ul li a, .bar2 ul li a {
    text-decoration: none;
    color: #e6bc16;
    font-weight: 600;
    transition: all 0.5s;
}

nav .bar ul li a:hover, .bar2 ul li a:hover {
    color: #f5f5f5;
}

nav .bar2 .entrar{
    padding-bottom: 5px;
    border-bottom: 2px #e6bc16 solid;
    /* margin-left: 50px; */
}

nav .bar2 .entrar:hover{
    border-bottom: 2px #f5f5f5 solid;
}

nav .bar2 .cadastro {
    background-color: transparent;
    padding: 15px;
    border: 1px solid #e6bc16;
    transition: all 1s;
    border-radius: 10px;
    /* margin-right: 20px; */
}

nav .bar2 .cadastro:hover {
    background-color: #e6bc16;
    color: #123142;
    border-radius: 50px;
}

nav .bar .aqui{
    border-bottom: 2px #e6bc16 solid;
    animation: aqui 1s infinite alternate;
}

@keyframes aqui {
    from{
        transform: translateY(0);
    } to {
        transform: translateY(-5px);
    }
}

/* Sections */

.principal .container {
    width: 90%;
    height: 470px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    transition: all 1s;
    margin: 0 auto;

    /* border: 1px solid blue; */
}

.principal .conteudo {
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    /* border: 1px yellow solid; */
}

.principal .container .texto {
    width: 60%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    /* border: 1px solid red; */
}

.principal .texto h2 {
    font-family: 'Ubuntu';
    font-weight: 800;
    font-size: 30px;
    color: white;
    margin: 0;
    transition: all 0.5s;
}

.principal .texto h2:hover {
    transform: scale(1.15);
    text-shadow: 4px 4px 5px #e6bc16;
}

.principal .texto p {
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: 500;
    text-align: justify;
    color: white;
    margin: 20px 0;
}

.principal button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 1px #e6bc16 solid;
    background-color: #123142;
    outline: 1px white;
    /* margin: 30px 0; */

    /* Transition (quando acontecer o hover ele vai acontecer com o tempo escolhido no transition, dando uma impressão de profissional) */
    transition: all 0.7s;

    /* texto dentro do botão */
    color: #e6bc16;
    font-weight: 700;
}

/* Hover (Quando passar o cursor do mouse) */
.principal button:hover {
    transform: scale(1.1);
}